<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Delights</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main_container container-fluid" style="background-color: #fdf8ec">
        <div style="background-color: #faf0da; border-bottom:rgb(222, 135, 208) 2px solid" class="row mb-5">
            <div class="col-6 ml-5">
                <div class="row">
                    <img class="mx-5" src="{% static 'img/delight_logo.png' %}" alt="" style="width: 100px;">
                    <h5 class="ml-5 mt-5 monospace">Welcome {{request.session.first_name}}!</h5>
                </div>
            </div>
            <div class="col d-flex">
                <a class=" float-right mt-5 ml-5 monospace" href="/delights/{{request.session.user_id}}">My Account</a>
            </div>
            <div class="col d-flex">
                <a class="float-right mt-5 ml-5 monospace" href="/delights/logout">Logout</a>
            </div>
            <div class="col-1 d-flex">
                <p class="mt-5 monospace">Basket({{request.session.basket}})</p>
            </div>
        </div>
            <div class="row m-5">
                <div class="col-2 mx-5">
                    <div class="mt-5" id="catigory" >
                        <a href="/delights/cupcakes" style="border: 2px solid rgb(222, 135, 208); border-radius: 5px;"
                            class="list-group-item list-group-item-action monospace link">CUPCAKES</a>
                        <a href="/delights/tarts" style="border: 2px solid rgb(222, 135, 208); border-radius: 5px;"
                            class="list-group-item list-group-item-action monospace link">TARTS</a>
                        <a href="/delights/cookies" style="border: 2px solid rgb(222, 135, 208); border-radius: 5px;"
                            class="list-group-item list-group-item-action monospace link">COOKIES</a>
                        <a href="/delights/all" style="border: 2px solid rgb(222, 135, 208); border-radius: 5px;"
                            class="list-group-item list-group-item-action monospace link">ALL</a>
                    </div>
                </div>
                <div class="col">
                    <p>{{cookies.delights.all.count}} results</p>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for cookie in cookies.delights.all %}
                        <div class="col mb-5">
                            <div style="width: 280px; background-color: #faf0da;" class="card">
                            <img style="height: 300px;" src="{{cookie.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 style="text-align: center" class="card-text"><a style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="monospace" href="/delights/cookies/{{cookie.id}}">{{cookie.name}}</a></h5>
                            </div>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        <div style="background-color: #faf0da; border-top: rgb(222, 135, 208) 2px solid; height: 100PX;">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active monospace m-4" aria-current="page" href="#">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link monospace m-4" href="#">FIND A BAKERY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link monospace m-4" href="#">FAQS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link monospace m-4" href="#" tabindex="-1" aria-disabled="true">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>